body{
  width:80%;
  border: 5px solid silver;
  padding: 5px;
  margin: auto;
  background-color: plum;
}
header{
  background-image:url(../images/3d.jpg);
  background-position: center;
  padding: 25px;
  font-family: cursive;
  font-size: 2rem;
  color:blueviolet;
  margin:auto;
}
form{
 margin-top: 15px;  
}
p:first-letter{
  font-weight: bold;
}
.top{
  border:2px solid silver;
  text-align: center;
  margin-top: 15px;
  text-decoration: none;
}
.top ul li{
  display: inline;
  padding: 10px 10px;
  list-style: none;
  font-size: 1em;
  font-family: cursive;
}
article{
  width:70%;
  border:2px solid gray;
  padding:15px;
  margin-top: 15px;
  margin-left:auto;
  float: left;
  text-align: center;
  font-family: cursive;
  font-size: 1em;
  color: yellow;
  background-image: url(../images/vector.jpg);
  background-position: center;
}
article img{
  width: 12rem;
  padding: 10px;
  border: 3px solid silver;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}
aside{
  width:20%;
  border:2px solid grey;
  padding:5px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  float: right;
  text-align: center;
}
footer{
  display:block;
  clear: both;
  border-top:2px solid silver;
}
li a:hover{
   background-color: lightgrey;
   font-size: 2em;
}





    
  
  
  
  
