*{
  box-sizing: border-box;
}
html{
background-color: black;
  

}
body{
  width:80%;
  border: 5px solid silver;
  padding: 5px;
  margin: auto;
  background: linear-gradient(to right, #FF4F45,#00FF00, blue); 
}
header{
  background-image:url(../images/3d.jpg);
  background-position: center;
  padding: 25px;
  font-family: 'Molle', cursive;
  font-size: 2rem;
  color:papayawhip;
  margin:auto;
}
header h1:first-letter{
  font-size: 4rem;
}
form{
 margin-top: 15px;  
}
p:first-letter{
  font-weight: bold;
}
aside p{
  font-family: 'Princess Sofia', cursive;
  font-size: 110%;
}
.top{
  padding: .25rem 0 3rem 0;
  border:2px solid silver;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}
.top a{
  text-decoration: none;
  color:white;
}
.top ul li {
  margin: 0;
  float: left;
  padding: 0 1rem;
  list-style: none;
  font-size: 1.5rem;
  font-family: 'Princess Sofia', cursive;
  font-weight: 400;
  text-decoration: none;
}

.main{
  clear: both;
  min-height: 100%;
  max-width: 100%;
}
article{
  width:70%;
  border:2px solid gray;
  padding:15px;
  margin-top: 15px;
  margin-left: auto;
  float:left;
  text-align: center;
  font-family: 'Molle', cursive;
  font-size: 1em;
  color: papayawhip;
 
}
article img{
  width: 12rem;
  padding: 10px;
  border: 3px solid silver;
  margin-top: 15px;
  margin-right: 15px;
  margin-left: 15px;
}
aside{
  width:28%;
  border:2px solid grey;
  padding:5px;
  /*margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;*/
  float: right;
  text-align: center;
}
footer{
  display:block;
  clear: both;
  border-top:2px solid silver;
}
 .top li a:hover{
   background-color: lightgrey;
   font-size: 2em;
}




 .tier1 ul, .sub1 ul, .sub2 ul {
   list-style: none;
   display: none;
    
  }

ul.tier1  li{
  /*border:2px solid red;*/
  width: 130px;
  text-align: center;
  position: relative;
  float: left;
  margin-right: 5px;
  list-style: none;
}

.tier1 a{
  text-decoration: none;
  display: block;
  width: 125px;
  height: 25px;
  border: 2px solid blue;
  border-radius: 2rem;
  list-style: :none;
  
  /*transition: .3s background-color;*/
}



ul.tier1 .sub1 ul{
  display: none;
  position:absolute;
  top:30px;
  left:0px;
}
ul.tier1 ul.sub2 {
  display: none;
  position: absolute;
  left:125px;
  top: 0px;
  
}
ul.tier1 li:hover .sub1 {
  display: block;
  background-color: #005f5f;
}
ul.tier1 .sub1 li:hover .sub2{
display: block;
}
/*.top2 a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}
.top2 li ul {
    position: absolute;
    display: none;
    width: inherit;
  }
.top2 li:hover ul {
    display: block;
  }






    
  